.AddLocation {
    width: 100%;
    padding: 5px 0px 8px 0px;
}

h3 {
    text-align: center;
}

.Form {
    display: block;
    margin-top: 15px;
}

.FormItem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    padding: 10px 0px 20px 0px;
}

.FormItem input{
    width: 80%;
    margin-left: 10%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
}

.Button {
    width: 80%;
    margin-left: 10%;
    height: 50px;
}

@media (min-width: 500px) {
    .AddLocation {
        padding: 10px 0px 15px 0px;
    }
    
    .FormItem {
        width: 50%;
        margin-left: 25%;
    }

    .FormItem input{
        font-size: 1em;
        width: 100%;
        text-align: center;
    }

    .Button {
        width: 50%;
        margin-left: 25%;
    }
}