.ForecastDay {
    width: 100%;
    background-color: rgba(164, 189, 226, 0.856);
    margin: 4px 0 4px 0;
 
    display: flex;
}

.ForecastDaySummary {
    width: 25%;
}

.ForecastTimes {
    width: 75%;
}

/* Desktop styles */
@media (min-width: 500px) {
    .ForecastDaySummary {
        width: 25%;
    }

    .ForecastTimes {
        width: 75%;
    }
}
