.ForecastDay {
    width: 100%;
    background-color: rgba(164, 189, 226, 0.856);
    margin: 4px 0 4px 0;
    height: 20vh;
}

.ForecastDaySummary {
    width: 30%;
}

.ForecastTimes {
    width: 70%;
}

@media (min-width: 500px) {
    .ForecastDay {
        height: auto;
    }
}