.WeatherSummary {
    width: 80%;
}

.Time {
    font-size: 1.2em;
    text-align: center;
}

@media (min-width: 500px) {
    .ForecastNow {
        display: flex;
    }

    .WeatherSummary {
        width: 30%;
    }
}