.WeatherSummary {
    width: 80%;
    margin: auto;
}


@media (min-width: 500px) and (max-width: 1049px){
    .WeatherSummary {
        width: 45%;
    }

    .WeatherDetails {
        width: 55%;
    }

    .ForecastNow {
        display: flex;
    }
}

@media (min-width: 1050px) {
    .ForecastNow {
        display: flex;
    }

    .WeatherSummary {
        width: 30%;
    }

    .WeatherDetails {
        width: 70%;
    }
}