

.WeatherDay {
    background-color: rgba(164, 189, 226, 0.856);
}

.WeatherNight {
    background-color: rgba(139, 139, 139, 0.856)
}

.WeatherSummary {
    width: 80%;
}

@media (min-width: 500px) {
    .ForecastNow {
        display: flex;
    }

    .WeatherSummary {
        width: 30%;
    }
}