.ForecastTime {
    width: 100%;
    padding: 3px 0 3px 0;
    text-align: center;
    padding: 2px 2px 0 2px;
}

.ForecastTimeContent {
    display: block;
}

.WeatherImage {
   width: 70%;
   margin: auto;
}

.DayTime {
    background-color: rgba(164, 189, 226, 0.856);
}

.NightTime {
    background-color: rgba(139, 139, 139, 0.856)
}

.Time {
    color: rgb(37, 47, 75);
}


@media (min-width: 500px) and (max-width: 1099px){

}


@media (min-width: 700px){
    
    .WeatherImage {
        width: 60%;
        margin: auto;
    }
}