.WeatherCard {
    margin-top: 7px;
    box-shadow: 3px 3px 3px rgb(88, 96, 121);
    background-color: rgba(164, 189, 226, 0.856);
    padding-bottom: 8px;
}








 /* Small desktop / tablet styles */
 @media (min-width: 1100px){
    .WeatherCard {
        width: 90%;
        margin-left: 5%;
    }

    /* Desktop styles */
    @media (min-width: 540px){
    .WeatherCard {
        box-shadow: 5px;
        width: 50%;
        box-shadow: 1em;
        margin-left: 25%;
    }
}
}