.NavItem {
    list-style: none;
    height: 100%;
    text-align: center;
    color: white;
    margin-top: 8px;
}

.Button {
    text-decoration: none;
    height: 100%;
    color: white;
}

.NavItemToolbar {
    @extend .NavItem;
    width: 8%;
}

.NavItemSidedrawer {
    @extend .NavItem;
    width: 80%;
    margin-top: 15px;
}

@media (min-width: 540px) and (max-width: 1099px) {
    .NavItemToolbar {
        width: 15%;
    }
}
