.Welcome {
    width: 90%;
    margin: auto;
    top: 70px;
    background-color: white;
    padding: 5px 5px 20px 5px;
    overflow-y: scroll;
    height: 300px;
}

.Button {
    width: 100%;
}

.Input {
    font-size: 1.3em;
    width: 70%;
}

.RadioGroup {
    border: none;
}

.RadioGroup label {
    width: 40%;
    margin: 0 10px 0 10px;
}

@media (min-width: 500px){
    .Modal {
        top: 70px;
    }

    .Welcome {
        overflow-y: auto;
        height: auto;
    }
}