.Welcome {
    width: 90%;
    margin: auto;
    top: 70px;
    background-color: white;
    padding: 5px 5px 20px 5px;
}

.Button {
    width: 100%;
}

.Input {
    font-size: 1.3em;
    width: 70%;
}