.MaxLocations {
    width: 100%;
    padding: 5px 0px 8px 0px;
    background-color: rgb(219, 101, 86);
    text-align: center;
}

p {
    font-size: 1.2em;
}

.Button {
    width: 50%;
    margin-left: auto;
    margin-top: 20px;
}