.WeatherSummary {
    display: flex;
}

.WeatherImage {
    width: 30%;
}

.Forecast {
    font-size: 1.5em;
    text-align: center;
    width: 30%;
    color: rgb(59, 59, 59);
}

.Forecast i:hover {
    color: rgb(25, 87, 129)
}

.Info {
    display: block;
    width: 30%;
    text-transform: capitalize;
}

@media (min-width: 500px){
    h4 {
        margin: 0;
    }

    .WeatherImage {
        width: 50%;
    }
}