.WeatherSummary {
    display: flex;
}

.Info {
    display: flex;
    text-transform: capitalize;
}

h3 {
    margin-left: 15px;
}

@media (min-width: 500px){
    .WeatherSummary {
        width: 30%
    }

    .Info {
        display: block;
    }

    h3 {
        margin: 0;
    }
    
}