.ForecastTimes {
    width: 70%;
    overflow-y: scroll;
}

@media (min-width: 500px) and (max-width: 1099px){

}


@media (min-width: 700px){
    .ForecastTimes {
        width: 70%;
        display: flex;
    }
}

