.Form {
    display: block;
    margin-top: 15px;
}

.FormItem {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    padding: 10px 0px 20px 0px;
}

.FormItem input, select {
    width: 70%;
}

.FormItem label {
    width: 30%;
}

.Button {
    width: 100%;
}

@media (min-width: 1700px) {
   .Form {
       width: 70%;
       margin: auto;
   }
}

@media (max-width: 1699px) and (min-width: 700px) {
    .Form {
        width: 80%;
        margin: auto;
    }
}