.VerifyLocation {
    width: 95%;
    margin: auto;
}

.Button {
    width: 50%;
}

@media (min-width: 501px) and (max-width: 1699px) {
    .VerifyLocation {
        width: 70%;
        margin: auto;
    }
}


@media (min-width: 1700px) {
    .VerifyLocation {
        width: 60%;
        margin: auto;
    }

    .WeatherSummary {
        width: 100%;
    }

    .Buttons {
        width: 100%;
    }
}
