.Settings {
    margin: 10px 5px 20px 5px;
}

.Modal {
    width: 90%;
    margin-left: 5%;
}

.FormItem {
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

.FormItem p, input{
    width: 50%;
    font-size: 1.2em;
}

.Button {
    width: 50%;
    margin-top: 20px;
}

@media (min-width: 500px) and (max-width: 799px) {
    .Modal {
        width: 70%;
        margin-left: 15%;
        
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    .Modal {
        width: 50%;
        margin-left: 25%;
        
    }
}

@media (min-width: 1200px) {
    .FormItem {
        width: 70%;
        margin-left: auto;
    } 

    .Modal {
        width: 40%;
        margin-left: 30%;
    }
}